<h1>{{ est.nombre }}</h1>
<ul>
    <li><p><span>Im&aacute;gen:</span></p>
        <img src="{{ est.URLImg.url }}" height="200" width="300"></li>
    <li><p><span>P&aacute;gina Web:</span>
        <a href="{{ est.URLWeb }}">{{ est.URLWeb }}</a></p></li>
    <li><p><span>Descripci&oacute;n:</span> {{ est.descripcion }}</p></li>
    <li><p><span>Calle:</span> {{ est.calle }}</p></li>
    <li><p><span>N&uacute;mero Interior:</span> {{ est.noInt }}</p></li>
    <li><p><span>N&uacute;mero Exterior:</span> {{ est.noExt }}</p></li>
    <li><p><span>Colonia:</span> {{ est.colonia }}</p></li>
    <li><p><span>Delegaci&oacute;n:</span> {{ est.delegacion }}</p></li>
    <li><p><span>Estado:</span> {{ est.estado }}</p></li>
    <li><p><span>C&oacute;digo Postal:</span> {{ est.CP }}</p></li>
    <li><p><span>Publicado:</span> {{ est.fecHoraPub }}</p></li>
    <li><p><span>Visitas:</span> {{ est.nVisitas }}</p></li>
    <li><p><span>Tipo de Establecimiento:</span>
        {{ est.tipoestablecimiento }}</p></li>
</ul>

