<h1>{{ establecimiento.nombre }}</h1>
<ul>
    <li>
        <span>Im&aacute;gen:</span>
        <img src="{{ establecimiento.URLImg.url }}" height="200" width="300">
    </li>
    <li>
        <span>P&aacute;gina Web:</span>
        <a href="{{ establecimiento.URLWeb }}">{{ establecimiento.URLWeb }}</a>
    </li>
    <li><span>Descripci&oacute;n:</span>{{ establecimiento.descripcion }}</li>
    <li><span>Calle:</span> {{ establecimiento.calle }}</li>
    <li><span>N&uacute;mero Interior:</span> {{ establecimiento.noInt }}</li>
    <li><span>N&uacute;mero Exterior:</span> {{ establecimiento.noExt }}</li>
    <li><span>Colonia:</span> {{ establecimiento.colonia }}</li>
    <li><span>Delegaci&oacute;n:</span> {{ establecimiento.delegacion }}</li>
    <li><span>Estado:</span> {{ establecimiento.estado }}</li>
    <li><span>C&oacute;digo Postal:</span> {{ establecimiento.CP }}</li>
    <li><span>Publicado:</span> {{ establecimiento.fecHoraPub }}</li>
    <li><span>Visitas:</span> {{ establecimiento.nVisitas }}</li>
    <li>
        <span>Tipo de Establecimiento:</span>
        {{ establecimiento.tipoestablecimiento }}
    </li>
</ul>

